@model GameStore.Domain.Entities.ShippingDetails

@{ 
    ViewBag.Title = "GameStore: order form";
}

<h2>Offer order now</h2>
<p>Pleas enter your personal </p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Data</h3>
    <div class="form-group">
        <label>Your name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-contr" })
    </div>

    <h3>Address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="from-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "from-control"})
            </div>
        }
    }

    <h3>Opptions</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Use gift wrap?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Summ"/>
    </div>
}